[
        { rabbit, [
    { cluster_nodes, {['rabbit@rabbit'], disc}},
    { collect_statistics, coarse },
                { loopback_users, [ ] },
                { tcp_listeners, [ 5672 ] },
                { ssl_listeners, [ ] },
                { default_pass, <<"DFS">> },
                { default_user, <<"rabbit">> },
                { hipe_compile, false }
        ] },
        { rabbitmq_management, [ { listener, [
                { port, 15672 },
                { ssl, false }
        ] } ] }
].
